@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>
<form asp-action="Login" method="post">
    <label>Email:</label>
    <input type="email" name="email" required /><br />

    <label>Password:</label>
    <input type="password" name="password" required /><br />

    <button type="submit">Login</button>
</form>

<p style="color: red;">@ViewBag.Message</p>